<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/reghos.css">
    </head>

    <body>
        <div class="left">
            <p>COVID CARE</p>
            <img src="/assets/sign.jpg" alt="">
        </div>
        
        <div class="right">
            <h2>Register Hospital</h2>
            <p class="rightp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem quas, itaque doloribus ullam inventore eveniet aliquam earum veniam error, debitis quidem praesentium eligendi? Quae magni eius laborum veniam ad..</p>
            <form method='post' action="/reghos">
                <input type="text" name="name" class="username" placeholder="Enter Hospital Name"><br><br>
                <input type="text" name="pattern" class="email" placeholder="Enter Hospital Email-Id Pattern" value="Eg. @apollo.gmail.com"><br><br>
                <input type="text" name="phone" class="email" placeholder="Enter Hospital Phone Number"><br><br>
                <input type="text" name="address" class="password" placeholder="Enter Hospital Address"><br><br>
                <input type="text" name="beds" class="password" placeholder="Enter Beds available"><br><br>
                <input type="text" name="ventilators" class="password" placeholder="Enter Ventilators available"><br><br>
          
                <button>Register</button>
            </form>
        </div>

        <div class="top">
            <p>COVID CARE</p>
        </div>
        
        <div class="bottom">
            <h2>Register Hospital</h2>
            <p class="rightp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere eaque maxime soluta ratione quaerat praesentium? Nulla porro quidem illum, magni, est blanditiis consequuntur aliquam recusandae cupiditate inventore, provident facere?</p>
            <form method='post' action="/reghos">
                <input type="text" name="hosname" class="username" placeholder="Enter Hospital Name"><br><br>
                <input type="text" name="hosemail" class="email" placeholder="Enter Hospital Email-Id Pattern" value="Eg. @apollo.gmail.com"><br><br>
                <input type="text" name="phone" class="email" placeholder="Enter Hospital Phone Number"><br><br>
                <input type="text" name="address" class="password" placeholder="Enter Hospital Address"><br><br>
                <input type="text" name="beds" class="password" placeholder="Enter Beds available"><br><br>
                <input type="text" name="ventilators" class="password" placeholder="Enter Ventilators available"><br><br>
          
                <button>Register</button>
            </form>
        </div>
    </body>
</html>