<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/signup.css">
    </head>

    <body>
        <div class="left">
            <p>COVID CARE</p>
            <img src="/assets/sign.jpg" alt="">
        </div>
        
        <div class="right">
            <h2>Sign Up Hospital Staff/Management</h2>
            <p class="rightp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolorem quas, itaque doloribus ullam inventore eveniet aliquam earum veniam error, debitis quidem praesentium eligendi? Quae magni eius laborum veniam ad..</p>
            <form method='post' action="/signup">
                <input type="text" name="username" class="username" placeholder="Enter Name"><br><br>
                <input type="text" name="email" class="email" placeholder="Enter Email-Id"><br><br>
                <input type="text" name="hospital" class="email" placeholder="Enter Hospital Name"><br><br>
                <input type="password" name="password" class="password" placeholder="Create a Password"><br><br>
          
                <button>SignUp</button>
            </form>
        </div>

        <div class="top">
            <p>COVID CARE</p>
        </div>
        
        <div class="bottom">
            <h2>Sign Up Hospital Staff/Management</h2>
            <p class="rightp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere eaque maxime soluta ratione quaerat praesentium? Nulla porro quidem illum, magni, est blanditiis consequuntur aliquam recusandae cupiditate inventore, provident facere?</p>
            <form method='post' action="/signup">
                <input type="text" name="username" class="username" placeholder="Enter Name"><br><br>
                <input type="text" name="email" class="email" placeholder="Enter Email-Id"><br><br>
                <input type="text" name="hospital" class="email" placeholder="Enter Hospital Name"><br><br>
                <input type="password" name="password" class="password" placeholder="Create a Password"><br><br>
          
                <button>SignUp</button>
            </form>
        </div>
    </body>
</html>